body {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}

.title {
    background: red;
    display: grid;
    justify-content: center;
    color: rgb(173, 126, 7);
    
}
.what {
    background: red;
    display: grid;
    justify-content: center;
    color: rgb(173, 126, 7);
}
.pre {
    display: grid;
    /* justify-content: center; */
    
    background-color: #7e0d0d; /* Red */
    /* border: none;
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    grid-column: 1fr;*/
} 




